<!-- wp:ourblocktheme/header /-->

<!-- wp:query {"queryId":66,"query":{"perPage":"5","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false}} -->
<div class="wp-block-query"><!-- wp:ourblocktheme/banner -->
<!-- wp:ourblocktheme/genericheading {"text":"Welcome!"} -->
<h1 class="wp-block-ourblocktheme-genericheading headline headline--large">Welcome!</h1>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"We think you'll like it here.","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium">We think you'll like it here.</h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"Why don't you check out the major you're interested in?","size":"small"} -->
<h3 class="wp-block-ourblocktheme-genericheading headline headline--small">Why don't you check out the major you're interested in?</h3>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Find your Major","linkObject":{"url":"http://localhost:10018/programs/","id":"http://localhost:10018/programs/","title":"http://localhost:1008/wp","type":"link"},"colorName":"dark-orange"} -->
<a href="http://localhost:10018/programs/" class="wp-block-ourblocktheme-genericbutton btn btn--large btn--dark-orange">Find your Major</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/banner --></div>
<!-- /wp:query -->

<!-- wp:ourblocktheme/eventsandblogs /-->

<!-- wp:ourblocktheme/slideshow -->
<!-- wp:ourblocktheme/slide {"themeimage":"bus.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"\u003cstrong\u003eFree Transportion\u003c/strong\u003e","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium"><strong>Free Transportion</strong></h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"All students have free unlimited bus fare.","size":"small"} -->
<h3 class="wp-block-ourblocktheme-genericheading headline headline--small">All students have free unlimited bus fare.</h3>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Learn More","size":"medium"} -->
<a href="" class="wp-block-ourblocktheme-genericbutton btn btn--medium btn--blue">Learn More</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->

<!-- wp:ourblocktheme/slide {"themeimage":"apples.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"\u003cstrong\u003eAn apple a day\u003c/strong\u003e","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium"><strong>An apple a day</strong></h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"Our dentistry programme recommends eating apple a day.","size":"small"} -->
<h3 class="wp-block-ourblocktheme-genericheading headline headline--small">Our dentistry programme recommends eating apple a day.</h3>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Learn More","size":"medium"} -->
<a href="" class="wp-block-ourblocktheme-genericbutton btn btn--medium btn--blue">Learn More</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->

<!-- wp:ourblocktheme/slide {"themeimage":"bread.jpg"} -->
<!-- wp:ourblocktheme/genericheading {"text":"\u003cstrong\u003eFree food\u003c/strong\u003e","size":"medium"} -->
<h2 class="wp-block-ourblocktheme-genericheading headline headline--medium"><strong>Free food</strong></h2>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericheading {"text":"Fictional University offers lunch plans for those in needs.","size":"small"} -->
<h3 class="wp-block-ourblocktheme-genericheading headline headline--small">Fictional University offers lunch plans for those in needs.</h3>
<!-- /wp:ourblocktheme/genericheading -->

<!-- wp:ourblocktheme/genericbutton {"text":"Learn More","size":"medium"} -->
<a href="" class="wp-block-ourblocktheme-genericbutton btn btn--medium btn--blue">Learn More</a>
<!-- /wp:ourblocktheme/genericbutton -->
<!-- /wp:ourblocktheme/slide -->
<!-- /wp:ourblocktheme/slideshow -->

<!-- wp:ourblocktheme/footer /-->